.list-header {
  display: flex;
  justify-content: space-around;
  background-color: hsla(235, 100%, 93%, 1);
  align-self: center;
}
.nav-wrapper {
  padding: 5px 0 5px 20px;
}
body {
  background-color: hsla(246, 50%, 93%, 0.63);
}
.movie-list {
  padding: 50px;
}
.img-container {
  margin: 20px;
}
.new {
  margin-top: 25px;
}

.page-footer {
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.page-footer.relative {
  position: relative;
  bottom: 0;
}
.button {
  color:inherit;
}

.landing {
  margin-top: 25px;
  background-image: url("./wes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 75vh;
}
.poster {
  height: 400px;
  width: auto;
}
.container {
  margin: 50px;
}

.img-container {
  padding: 20px;
}
.goto {
  text-align: center;
  padding: 10px;
  border: 1px solid;
  border-radius: 25px;
  background-color: hsla(21, 72%, 82%, 0.9);
}

.goto-link {
  color: inherit;
}
